:root {
    background-color: blueviolet;
    color: yellow;
    font-family: monospace;
}


/**
 * Navbar
*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: purple;
    box-shadow: 0.1em 0.1em black;
    
}

nav ul li {
    float: left;
}

nav ul li :hover {
    background-color: black;
}

nav ul li a {
    display: block;
    padding: 1em 3em;
}

a:visited {
    color: white;
}


/* 
 * StudyTime tables 
*/
table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    

}

tr.studytime_header {
    height: 4em;
    background-color: rgb(104, 5, 104);
    font-size: large;
}

tr.studytime_row {
    height: 2em;
}