{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th>ID</th>
        <th>Module</th>
        <th>Required Time</th>
        <th>Current Time</th>
        <th>Deadline</th>
    </tr>
    {% for module in db %}
        <tr>
            <td>{{ module[0] }}</td>
            <td>{{ module[1] }}</td>
            <td>{{ module[2] }}</td>
            <td>{{ module[3] }}</td>
            <td>{{ module[4] }}</td>
        </tr>
    {% endfor %}
    <!--<form action="/studytime" method="post">
        <button name="button">click</button>
    </form> TODO: Module creation debugging process-->
</table>
{% endblock %}