{% extends "layout.html" %}

{% block body %}
<table>
    <tr class="studytime_header">
        <th>ID</th>
        <th>Module</th>
        <th>Required Time</th>
        <th>Current Time</th>
        <th>Deadline</th>
    </tr>
    {% for module in db %}
        <tr class="studytime_row">
            <td>{{ module["id"] }}</td>
            <td>{{ module["name"] }}</td>
            <td>{{ module["required_hours"] }}</td>
            <td>{{ module["studied_hours"] }}</td>
            <td>{{ module["deadline"] }}</td>
            
        </tr>
    {% endfor %}
    <!--<form action="/studytime" method="post">
        <button name="button">click</button>
    </form> TODO: Module creation debugging process-->
</table>
{% endblock %}