{% extends "layout.html" %}

{% block body %}
<table>
    <tr class="studytime_header">
        <th>ID</th>
        <th>Module</th>
        <th>Required Time</th>
        <th>Current Time</th>
        <th>Deadline</th>
        <th>Days Until</th>
        <th>Hours / Day</th>
    </tr>
    {% for module in db %}
        <tr class="studytime_row">
            {% for key, value in module.items() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    <!--<form action="/studytime" method="post">
        <button name="button">click</button>
    </form> TODO: Module creation debugging process-->
</table>
{% endblock %}